.card {
  background-color: var(--description-color);
  color: var(--primary-color);
  border-radius: 18px;
  border: 1px solid rgba(148, 163, 184, 0.1);
  padding: 24px;
  width: 100%;
  max-width: 310px;
  min-height: 150px;
  transition: all 0.3s ease;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 16px;
    border-radius: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px;
    max-width: 45%;
    min-height: auto;
  }
}
