.bagSummaryContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bagSummary {
  width: 100%;

  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: var(--background-color);
  color: var(--primary-color);
  box-sizing: border-box;
}

.priceFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--description-color);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  gap: 10px;
  border: 1px solid #e5e7eb;
}

.placeOrderBtn {
  width: 100%;
  margin-top: 28px;
  padding: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--primary-color);
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.placeOrderBtn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

@media (max-width: 1024px) {
  .bagSummaryContainer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .bagSummaryContainer {
    width: 100%;
  }

  .bagSummary {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
  }

  .priceFooter {
    font-size: 15px;
  }

  .placeOrderBtn {
    padding: 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .bagSummaryContainer {
    width: 100%;
    gap: 16px;
  }

  .bagSummary {
    border-radius: 18px;
  }

  .priceHeader {
    font-size: 15px;
  }

  .priceItem {
    font-size: 13px;
    padding: 10px 0;
  }

  .priceFooter {
    align-items: flex-start;
    padding: 20px;
    font-size: 15px;
  }

  .priceFooter .priceItemValue {
    font-size: 16px;
  }

  .placeOrderBtn {
    padding: 12px;
    font-size: 13px;
    border-radius: 40px;
  }
}
