.parkingCards {
  padding: 0px;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .parkingCards {
    width: 100%;
    padding-top: 85px;
  }
}

@media (max-width: 480px) {
  .parkingCards {
  }
}
