.card {
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  padding: 16px;
  min-width: 800px;
  margin: 20px auto;
  background: var(--description-color);
  font-family: sans-serif;
  cursor: pointer;
}
.card:hover {
  border: 2px solid var(--primary-color);
}
p {
  margin: 10px 0px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeSection {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.timeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 18px;
  font-weight: 600;
}

.timeBlock p {
  font-size: 12px;
  margin-top: 4px;
  color: #6b7280;
}

.lineWrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.line {
  width: 70px;
  height: 2px;
  background: #374151;
}

.dot {
  width: 8px;
  height: 8px;
  border: 2px solid #374151;
  border-radius: 50%;
}

.duration {
  font-size: 12px;
  color: #6b7280;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.location {
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.location span {
  flex: 1;
}
.inactive {
  opacity: 0.35;
  cursor: not-allowed;
}
.bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
}
