.parkings {
  display: flex;
  justify-content: space-between;
  padding: 90px 100px;
  gap: 20px;
  box-sizing: border-box;
}

.searchSection {
  padding: 0px 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background: var(--background-color);
  box-sizing: border-box;
}
.responsiveSearchBar {
  display: none;
}
.mobileTopSection {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  width: 100%;
  border-radius: 20px;
}
.mobileTopSection p {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.icon {
  font-size: 30px;
}
.mobileInfoBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  .parkings {
    padding: 0px 0px;
  }
  .sortParking {
    display: none;
  }
}

@media (max-width: 600px) {
  .parkings {
    padding: 0px 15px;
    gap: 15px;
  }
  .responsiveSearchBar {
    display: block;
  }
  .searchBar {
    display: none;
  }
  .searchSection {
    padding: 0px 0px;
  }
}
