.featureCard {
  padding: 35px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.3s ease;
  min-height: 260px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.featureCard span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 123, 255, 0.08);
  color: var(--primary-color);
  font-size: 34px;
}

.featureCard h2 {
  font-size: 24px;
  color: var(--primary-color);
  margin: 0;
}

.featureCard p {
  margin: 0;
  color: #667085;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .featureCard {
    padding: 28px 22px;
    min-height: auto;
    width: 100%;
    flex-direction: row;
  }

  .featureCard h2 {
    font-size: 21px;
  }

  .featureCard span {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .featureCard {
    padding: 24px 18px;
    flex-direction: row;
  }

  .featureCard h2 {
    font-size: 19px;
  }

  .featureCard p {
    font-size: 14px;
  }
}
